.nav {
  margin-bottom: 10px;
}
.header {
  top: 0 px;
  background-color: #fff3da;
}
.site-title {
  text-align: center;
  margin: 0;
  font-size: 60px;
  padding: 20px;
}

.links-container {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  justify-content: center;

  @media only screen and (max-width: 600px) {
    column-gap: 5px;
    font-size: 15px;
  }
}
.navbar-link {
  text-decoration: none;
  padding: 15px;
  color: black;
  width: 20%;
  text-align: center;
  margin: 5px;
  border-radius: 12px;
  border: 2px solid black;
  transition: background-color 0.2s ease-in-out, scale 0.2s ease-in-out,
    color 0.2s ease-in-out;
  &:hover {
    scale: 1.2;
    background-color: #dfccfb;
    border: none;
    color: white;
  }
}
.contact-btn > p {
  @media only screen and (max-width: 600px) {
    font-size: 10px;
  }
}
.contact-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: gainsboro;
  border: 2px solid #000;
  box-shadow: 24;
  padding: 4px;
  form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    text-align: center;
  }
  .form-group {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }
  textarea {
    width: 90%;
    height: 100px;
  }
  @media only screen and (max-width: 600px) {
    width: 300px;
  }
}
